body {
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b6cb7, #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  color: #222222;
}
h1, h2 {
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 1.7px;
  text-shadow: 0 0 1px rgba(255, 255, 255, .1)
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #FFD300;
}

/* Custom design with class */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline a {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
}

.img-circle {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  border: solid 2px white;
}

.img-circle:hover {
  border: 2px solid #FFD300;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  padding-left: 40px;
}

.navbar li a {
  padding-right: 40px;
  font-size: 48px;
  text-shadow: 0 0 2px rgba(33, 33, 33, .2)
}
