html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#best-score {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 24px;
  font-weight: 900;
}

#current-score {
  position: absolute;
  top: 60px;
  left: 30px;
  font-size: 24px;
  font-weight: 900;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: black;
  background-color: gold;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}

#restart::before {
  --s: 12px; /* length */
  --o: 8px; /* offset */
  --c: orange; /* color */
  --w: 8px; /* thickness*/
  --grad: transparent calc(50% - var(--w) / 2),
    var(--c) calc(50% - var(--w) / 2 + 1px) calc(50% + var(--w) / 2 - 1px),
    transparent calc(50% + var(--w) / 2);

  content: "";
  position: absolute;
  top: calc(-1 * var(--s) - var(--o));
  bottom: calc(-1 * var(--s) - var(--o));
  left: calc(-1 * var(--s) - var(--o));
  right: calc(-1 * var(--s) - var(--o));
  border-radius: inherit;
  background:
    /* 8 rays */ linear-gradient(0deg, var(--grad)),
    linear-gradient(45deg, var(--grad)), linear-gradient(-45deg, var(--grad)),
    linear-gradient(90deg, var(--grad));
  /* */
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--s)),
    #fff calc(100% - var(--s))
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--s)),
    #fff calc(100% - var(--s))
  );
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}

.footer {
  position: fixed;
  bottom: 12px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer-icon {
  width: 70px;
  height: 70px;
  transform: scale(0.8);
  transition: transform 0.5s;
  filter: invert(92%) sepia(66%) saturate(272%) hue-rotate(330deg)
    brightness(111%) contrast(96%);
}

.footer-icon:hover,
.footer-icon:focus {
  transform: scale(0.9);
}

.linkedin-icon:hover,
.linkedin-icon:focus {
  filter: invert(17%) sepia(69%) saturate(4828%) hue-rotate(187deg)
    brightness(101%) contrast(102%);
}

.mail-icon:hover,
.mail-icon:focus {
  filter: invert(67%) sepia(89%) saturate(3164%) hue-rotate(6deg)
    brightness(109%) contrast(105%);
}

.github-icon:hover,
.github-icon:focus {
  filter: invert(15%) sepia(81%) saturate(6563%) hue-rotate(32deg)
    brightness(99%) contrast(104%);
}
