---
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"} border-t border-skin-line`}>
  <div class="footer-wrapper">
    <Socials />
    <span class="text-sm text-skin-base/40">{currentYear}</span>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply mx-auto flex max-w-4xl items-center justify-between px-6 py-6;
  }
  .link-button {
    @apply my-1 p-2;
  }
  .link-button svg {
    @apply h-5 w-5;
  }
</style>
