---
export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class={`inline-block ${
    size === "sm"
      ? "my-1 text-skin-base/60"
      : "my-3 mx-1"
  }`}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={`${size === "sm" ? "text-sm" : "text-lg"} transition-colors hover:text-skin-accent`}
  >
    {tagName}
  </a>
</li>
